///
/// HELPERS
/// @group base
/// This file contains helpers styles.
/// ---------------------------------

@use '../abstracts' as utils;

/// ---------------------------------

//# Display helpers
.h-flex {
  display: flex;

  &--center {
    align-items: center;
    justify-content: center;
  }
}

.h-inflex {
  display: inline-flex;
}

.h-direction {
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

//# Alignment helpers
.h-align {
  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }
}

.h-justify {
  &--start {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: flex-end;
  }

  &--s-between {
    justify-content: space-between;
  }
}

//# Spacings helpers
.h-gap {
  &--0_75 {
    gap: utils.funct·torem(12px);
  }

  &--1 {
    gap: utils.funct·torem(16px);
  }

  &--1_5 {
    gap: utils.funct·torem(24px);
  }

  &--2 {
    gap: utils.funct·torem(32px);
  }

  &-x {
    &--0_75 {
      column-gap: utils.funct·torem(12px);
    }

    &--1_5 {
      column-gap: utils.funct·torem(24px);
    }
  }
}

.h-margin {
  &-b {
    &--0_75 {
      margin-bottom: utils.funct·torem(12px);
    }

    &--1 {
      margin-bottom: utils.funct·torem(16px);
    }

    &--1_5 {
      margin-bottom: utils.funct·torem(24px);
    }

    &--2 {
      margin-bottom: utils.funct·torem(32px);
    }
  }

  &-t {
    &--0_75 {
      margin-top: utils.funct·torem(12px);
    }

    &--1 {
      margin-top: utils.funct·torem(16px);
    }

    &--1_5 {
      margin-top: utils.funct·torem(24px);
    }

    &--2 {
      margin-top: utils.funct·torem(32px);
    }
  }

  &-y {
    &--1 {
      margin-bottom: utils.funct·torem(16px);
      margin-top: utils.funct·torem(16px);
    }

    &--1_5 {
      margin-bottom: utils.funct·torem(24px);
      margin-top: utils.funct·torem(24px);
    }

    &--2 {
      margin-bottom: utils.funct·torem(32px);
      margin-top: utils.funct·torem(32px);
    }
  }
}

//# Visibility helpers
.hidden {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.h-group {
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

//# Position helpers
.h-position {
  &--relative {
    position: relative;
  }
}
