///
/// VARIABLES SASS
/// @group utils
/// This file contains sass variables.
/// ---------------------------------

/// Sass vars (for use in Sass functions, ...)
///
$base-font-size: 16px !default;
$font-path: '../../fonts' !default;
$iconfont-path: '../../fonts/iconfont' !default;
$iconfont-family: 'iconfont' !default;
$iconfont-hash: '9yheo8' !default;

