$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "fonts" !default;

$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-play: "\e912";
$icon-file-text: "\e922";
$icon-earth: "\e9ca";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";

